.headerContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    text-align: center;
    font-weight: 20px;
    padding: 0px;
  }
  header {
    background: rgb(125, 206, 243);
    height: 10vh;
  }
  form{
    margin-left: 25%;
    margin-right: 25%;
    background: rgb(233, 245, 124);
    padding-bottom: 10px;
  }
  div{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  label{
    text-align: right;
    width: 30%;
    margin-right: 2%;
  }
  input{
    height: 30%;
    flex: auto;
    padding: 10px;
  }